body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: large;
}

.border {
  border: 2px solid red;
}

p {
  font-family: 'IBM Plex Sans Arabic', sans-serif !important;
  font-weight: 500 !important;

}

.sidebarText span, .ChangeModeButton {
  font-family: 'Changa', sans-serif !important;
  font-weight: 500 !important;
}